<section id="caudat_around" class="clearfix" data-bind="with: footer">
    <div class="blackopacity"></div>
    <div class="container">
        <center class="title_around">
            <h2 class="title text-center">
                <a data-bind="text: aroundFarm().title()" href="http://caudatfarm.com/collections/hinh-anh-nong-trai"></a>
            </h2>
        </center>
        <center class="content_around">
            <ul>
                <li class="active"><a href="javascript:void(0);">Các điểm đến nổi bật:</a></li>
                <!-- ko foreach: aroundFarm().collections() -->
                <li>
                    <a data-bind="attr: {title: name, href: href}, text: name" hef="/collections/nha-may-tra-co"></a>
                </li>
                <!-- /ko -->

            </ul>
            <div id="caudat_around_tab1">
                <div class="caudat_around_slider_1 swiper-container-horizontal">
                    <div data-bind="foreach: aroundFarm().banner()" class="swiper-wrapper" style="transform: translate3d(-1600px, 0px, 0px); transition-duration: 0ms;">

                        <div class="swiper-slide" style="width: 370px; margin-right: 30px;">
                            <a data-bind="attr: {href: link}">
                                <img data-bind="attr: {src: imgPath, alt: text}">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </center>
        <center class="link_around">
            <a href="javascript:void(0)" class="btn btn-dkthamquan btn-pmr shadow-effect" rel="nofollow">Tôi muốn ghé thăm Cầu Đất Farm</a>
        </center>
    </div>
</section>

<section id="caudat_showroom" data-bind="with: footer().showroom">
    <div class="container">
        <div id="caudat_around_tab2">
            <div class="caudat_around_slider_2 owl-carousel owl-theme" style="opacity: 1; display: block;">
                <div class="owl-wrapper-outer autoHeight" style="height: 439px;">
                    <div class="owl-wrapper" style="width: 11700px; left: 0px; display: block; transition: all 400ms ease; transform: translate3d(-4680px, 0px, 0px);" data-bind="foreach: addresses">
                        <div class="owl-item" style="width: 1170px;">
                            <div class="title_around_2">
                                <h2 class="title text-uppercase">
                                    Showroom <span data-bind="text: name"></span>
                                </h2>
                            </div>
                            <div class="item">
                                <a href="javascript:void(0);">
                                    <img data-bind="attr: {src: imgPath, alt: name}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="bottomSliderInitFlag" />
                <div class="owl-controls clickable">
                    <div class="owl-pagination" data-bind="foreach: addresses">
                        <div class="owl-page active">
                            <span class=""></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="place_showroom"> <a href="/pages/showroom" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i> Xem đường đi</a> </div>
            <input type="hidden" id="showroomSliderInitFlag" />
        </div>
    </div>
</section>

<section id="caudat_info"> <div class="container"> <div class="box-caudatft-info"> <div class="col-xs-6 col-sm-5"> <h3 class="info_title "> <a href="javascrip:void(0);" class="sign_up_dl"><strong>Đăng ký</strong> </a> mua sỉ, trở thành đại lý<br>Hoặc liên hệ <strong>1800 1192 </strong> (miễn phí cước) </h3> </div> <div class="col-xs-6 col-sm-4"> <h3 class="info_title "> Rau củ quả Đà Lạt, thu hoạch mỗi sáng. <a href="javascript:void(0);" class="btn-dm"><strong> Đặt mua ngay!</strong></a> </h3> </div> <div class="hidden-xs she_has_vegetables"> <img src="//hstatic.net/704/1000059704/1000177804/she_has_vegetables.png?v=1072" alt="she has vegetables"> </div> </div> </div> </section>

<div id="modalTravel" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="modalTravel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <form accept-charset="UTF-8" action="" id="form-dkthamquan" method="post">
                <input name="form_type" type="hidden" value="contact">
                <input name="utf8" type="hidden" value="✓">
                <h4>Vui lòng hãy điền đầy đủ thông tin dưới đây</h4>
                <div class="form-group">
                    <label for="contactFormName" class="sr-only">Họ tên</label>
                    <input required="" type="text" id="contactFormName" class="form-control" name="contact[name]" placeholder="Họ tên" autocapitalize="words" value="">
                </div>
                <div class="form-group">
                    <label for="contactFormPhone" class="sr-only">Số điện thoại</label>
                    <input required="" type="text" id="contactFormPhone" class="form-control " name="contact[phone]" placeholder="Số điện thoại" value="">
                </div>
                <div class="form-group">
                    <label for="contactFormNumber" class="sr-only">Số người tham quan</label>
                    <input required="" type="number" min="1" id="contactFormPhone" class="form-control " name="contact[Số người tham gia]" placeholder="Số người tham quan" value="">
                </div>
                <div class="form-group">
                    <label for="contactFormDate" class="sr-only">Ngày tham quan</label>
                    <input required="" type="text" min="1" id="contactFormDate" class="form-control " name="contact[Ngày tham gia]" placeholder="Ngày tham quan" value="">
                </div>
                <div class="hidden">
                    <input required="" type="email" name="contact[email]" placeholder="Email của bạn" id="contactFormEmail" class="form-control" autocorrect="off" autocapitalize="off" value="guest@caudatfarm.com">
                </div>
                <div class="hidden">
                    <label for="contactFormMessage" class="sr-only">Nội dung</label>
                    <textarea required="" rows="6" name="contact[body]" class="form-control" placeholder="Viết bình luận" id="contactFormMessage">Đăng ký tham quan..</textarea>
                </div>
                <input type="submit" id="submit-dkthamquan" class="btn btn-pmr shadow-effect" value="Gửi thông tin">
            </form>
        </div>
    </div>
</div>
<div id="modalDL" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="modalDL">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">×</button> <form accept-charset="UTF-8" action="" id="form-dkdl" method="post">
                <input name="form_type" type="hidden" value="contact"> <input name="utf8" type="hidden" value="✓"> <h4>Vui lòng hãy điền đầy đủ thông tin dưới đây</h4> <div class="form-group"> <label for="contactFormName" class="sr-only">Họ tên</label> <input required="" type="text" id="contactFormNameDL" class="form-control" name="contact[name]" placeholder="Họ tên" autocapitalize="words" value=""> </div> <div class="form-group"> <label for="contactFormPhone" class="sr-only">Số điện thoại</label> <input required="" type="text" id="contactFormPhoneDL" class="form-control " name="contact[phone]" placeholder="Số điện thoại" value=""> </div> <div class="form-group"> <label for="contactFormPhone" class="sr-only">Ngàng hàng chọn mua</label> <select name="contact[product]" class="form-control " id="contactFormProductDL"> <option selected="" value="">Ngành hàng chọn mua</option> <option value="Trà">Trà</option> <option value="Cà phê">Cà phê</option> <option value="Rau củ quả">Rau củ quả</option> <option value="Hoa tươi">Hoa tươi</option> </select> </div>

                <div class="hidden"> <input required="" type="email" name="contact[email]" placeholder="Email của bạn" id="contactFormEmailDL" class="form-control" autocorrect="off" autocapitalize="off" value="guest@caudatfarm.com"> </div> <div class="hidden"> <label for="contactFormMessage" class="sr-only">Nội dung</label> <textarea required="" rows="6" name="contact[body]" class="form-control" placeholder="Viết bình luận" id="contactFormMessageDL">Đăng ký đại lý..</textarea> </div> <input type="submit" id="submit-dkdl" class="btn btn-pmr shadow-effect" value="Gửi thông tin">
            </form>
        </div>
    </div>
</div>
<div id="modalThank" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="modalThank"> <div class="modal-dialog modal-sm" role="document"> <div class="modal-content"> <p>Chúng tôi đã nhận được thông tin của bạn và sẽ liên hệ lại trong vòng 24 giờ. Xin cảm ơn!</p> <a href="#" data-dismiss="modal" aria-label="Close"> <strong>Tiếp tục mua hàng <i class="fa fa-angle-double-right" aria-hidden="true"></i></strong> </a> </div> </div> </div>
<section id="footer_info" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <aside class="widget quicklink">
                    <ul>

                        <li><a href="http://caudatfarm.com/pages/chinh-sach-giao-nhan">Thanh toán giao nhận</a></li>

                        <li><a href="http://caudatfarm.com/pages/huong-dan-mua-hang">Hướng dẫn mua hàng</a></li>

                        <li><a href="http://caudatfarm.com/pages/lien-he">Liên hệ</a></li>

                        <li><a href="http://caudatfarm.com/pages/tuyen-dung">Tuyển dụng</a></li>

                    </ul>
                </aside>
            </div> <div class="col-xs-12">
                <aside class="widget widget_social_profiles">
                    <div class="widget_title"> <h4>Kết nối với Cầu Đất Farm</h4> </div> <ul class="social-profiles">

                        <li> <a href="https://www.facebook.com/caudatfarm/" target="_blank" title="Facebook"> <span class="fa-stack fa-lg"> <i class="fa fa-facebook fa-stack-1x fa-inverse"></i> </span> </a> </li>

                        <li> <a href="https://www.instagram.com/caudatfarm/" target="_blank" title="Instagram"> <span class="fa-stack fa-lg"> <i class="fa fa-instagram fa-stack-1x fa-inverse"></i> </span> </a> </li>

                        <li> <a href="https://www.youtube.com/channel/UChUHcvUXYbwil8BiR6Krz6A" target="_blank" title="YouTube"> <span class="fa-stack fa-lg"> <i class="fa fa-youtube fa-stack-1x fa-inverse"></i> </span> </a> </li>

                    </ul>
                </aside>
            </div>
        </div>
    </div>
</section>
<section class="copyright">
    <div class="container">
        <hr> <div class="row">
            <div class="copy col-md-8 col-sm-8 col-xs-12"> <div class="pull-left"> Chi nhánh Tp.HCM: 313 Nguyễn Thị Thập, Q7, TP.HCM. GPS 5800469720-001 Sở Kế Hoạch và Đầu Tư TP.HCM cấp ngày 07/01/2016<br> © 2016 CAUDATFARM. Công ty cổ phần chè Cầu Đất, Đà Lạt </div> </div> <div class="ft-end col-md-4 col-sm-4 col-xs-12 pull-right"> <div class="footer-thanhtoan pull-left"> <img class="lazyfot" src="//hstatic.net/704/1000059704/1000177804/bocongthuong.png?v=1072" style="display: inline;" width="115"> </div> <div id="back-top" style="display: block;"> <a href="#top">Trở lên đầu trang <i class="fa fa-angle-up" aria-hidden="true"></i></a> </div> </div>

        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#bottomSliderInitFlag').on('change', function () {
            var swiper = new Swiper('.caudat_around_slider_1', {
                pagination: '.caudat_as1_pagination',
                autoplay: 5000,
                slidesPerView: 3,
                paginationClickable: true,
                spaceBetween: 30
            });
        });
        $('#showroomSliderInitFlag').on('change', function () {
            $(".caudat_around_slider_2").owlCarousel({
                navigation: false,
                pagination: true,
                navigationText: ["<i class='fa fa-long-arrow-left' aria-hidden='true'></i>",
                    "<i class='fa fa-long-arrow-right' aria-hidden='true'></i>"],
                slideSpeed: 300,
                paginationSpeed: 400,
                autoPlay: true,
                autoHeight: true,
                singleItem: true
            });
        });
    });
</script>