<section id="top-product-like" class="hidden-xs clearfix">
    <div class="container">
        <h2 class="title-protop"><span>SẢN PHẨM ĐƯỢC TÌM MUA NHIỀU NHẤT</span></h2>
        <!-- ko foreach: featureProducts-->
        <div class="col-5th">
            <a data-bind="attr: { href: link, title: text }">
                <img data-bind="attr: { src: imgPath, alt: text }" />
            </a>
        </div>
        <!-- /ko -->
    </div>
</section>

