<section id="product-today" class="clearfix">
    <div class="container" data-bind="foreach: productsInCategories">
        <div class="row">
            <div class="col-xs-12">
                <div class="tab_head clearfix">
                    <h2 class="title pull-left">
                        <span class="stick_teacoffee"></span>
                        <span data-bind="text:category().name"></span>
                    </h2>
                    <ul class="nav nav-tabs pull-left product-list-tab" role="tablist">
                        @*<li class="active">
                            <a href="#today_tab1" data-toggle="tab">Tất cả</a>
                        </li>*@
                        <!-- ko foreach: tabs -->
                        <li class="">
                            <a data-bind="text: category.name, click: function(data, event){$parent.switchTab.call($parent, data, event)}" href="javascript:void(0)" data-toggle="tab">
                            </a>
                        </li>
                        <!-- /ko -->
                    </ul>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="tab-content clearfix product-list-tabcontent" data-bind="foreach: tabs">
                    <div class="tab-pane" data-bind="style: { display: displayMode }">
                        <div class="products-content-list products-resize" data-bind="foreach: products">
                            <div class="col-md-2 col-sm-3 col-xs-4 col-479-2 pro-loop nopadding b-1">
                                <div class="product-block product-resize fixheight" style="height: 260px;">
                                    <div class="box-shadow">
                                        <div class="product-img image-resize clearfix" style="height: 193px;">
                                            <a data-bind="attr: { href: url, title: name }" >
                                                <img data-bind="attr: { src: imgPath }" />
                                            </a>
                                        </div>
                                        <a href="javascript:void(0)"  data-bind="id: id" class="btn btn-addtcart">THÊM VÀO GIỎ</a>
                                        <div class="product-detail text-center clearfix">
                                            <h3 class="pro-name">
                                                <a data-bind="attr: { href: url, title: name}, text: name"></a>
                                            </h3>
                                            <p class="pro-price"  data-bind="attr: {text: price}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-center text-viewmore">
                    Mời bạn <a href="http://caudatfarm.com/collections/rau-cu"> xem thêm các sản phẩm mới thu hoạch</a>  khác
                </p>
            </div>
        </div>
    </div>
</section>