<section id="home-slider">
    <div class="slider owl-carousel owl-theme" style="opacity: 1; display: block;">
        <div class="owl-wrapper-outer autoHeight" style="height: 422px;">
            <div class="owl-wrapper" style="width: 13490px; left: 0px; display: block; transition: all 400ms ease; transform: translate3d(-2698px, 0px, 0px);">
                <div class="owl-item" style="width: 1349px;">
                    <div class="item">
                        <a href="http://caudatfarm.com/collections/hoa-tuoi">
                            <img src="//hstatic.net/704/1000059704/1000177804/slideshow_1.jpg?v=1072">
                        </a>
                        <div class="text">
                        </div>
                    </div>
                </div><div class="owl-item" style="width: 1349px;">
                    <div class="item">
                        <a href="http://caudatfarm.com/search?type=product&amp;q=x%C3%A0+l%C3%A1ch">
                            <img src="//hstatic.net/704/1000059704/1000177804/slideshow_2.jpg?v=1072">
                        </a>
                        <div class="text">
                        </div>
                    </div>
                </div><div class="owl-item" style="width: 1349px;">
                    <div class="item">
                        <a href="http://caudatfarm.com/collections/rau-cu">
                            <img src="//hstatic.net/704/1000059704/1000177804/slideshow_3.jpg?v=1072">
                        </a>
                        <div class="text">
                        </div>
                    </div>
                </div><div class="owl-item" style="width: 1349px;">
                    <div class="item">
                        <a href="http://caudatfarm.com/collections/tra">
                            <img src="//hstatic.net/704/1000059704/1000177804/slideshow_4.jpg?v=1072">
                        </a>
                        <div class="text">
                        </div>
                    </div>
                </div><div class="owl-item" style="width: 1349px;">
                    <div class="item">
                        <a href="http://caudatfarm.com/collections/ca-phe">
                            <img src="//hstatic.net/704/1000059704/1000177804/slideshow_5.jpg?v=1072">
                        </a>
                        <div class="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div>
        </div>
    </div>
</section>

