<section id="home-slider">
    <div class="slider" data-bind="foreach: slider">
        <div class="item">
            <a data-bind="attr: { href: link, title: text }">
                <img data-bind="attr: { src: imgPath, alt: text} " />
            </a>
            <div class="text" data-bind="text: text">
            </div>
        </div>
    </div>
    <input type="hidden" id="slider_flag" />
</section>