/packages
*.dll
*.pdb
*.user
*.cache
.vs/*
/chapifarm.presentation/bin/*.xml
/chapifarm.presentation/Scripts/shared/*.map
/chapifarm.presentation/bin/*
/chapifarm.presentation/chapifarm.presentation.csproj
